name: Ping

on:
  schedule:
    - cron: "0,30 * * * *"   # every 30 minutes
  workflow_dispatch:

jobs:
  ping:
    runs-on: ubuntu-latest

    steps:
      - name: Ensure curl is installed
        run: sudo apt-get update && sudo apt-get install -y curl

      - name: Ping site
        shell: bash
        run: |
          SITE="https://ping-me-silk.vercel.app/api/ping"

          /usr/bin/curl -s --max-time 10 "$SITE" > /dev/null
